<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <!--WCF客户端配置，手动增加endpoint节点-->
    <client>
      <!--商品服务契约配置-->
      <endpoint address="soap.amqp:///KittyInnovation.Iot.Platform.WCF.Server.IProductService" binding="rabbitMQBinding" bindingConfiguration="rabbitDoubleBinding" contract="KittyInnovation.Iot.Platform.WCF.Server.IProductService" name="KittyInnovation.Iot.Platform.WCF.Server.IProductService" />
      <!--订单服务契约配置-->
      <endpoint address="soap.amqp:///KittyInnovation.Iot.Platform.WCF.Server.IOrderService" binding="rabbitMQBinding" bindingConfiguration="rabbitDoubleBinding" contract="KittyInnovation.Iot.Platform.WCF.Server.IOrderService" name="KittyInnovation.Iot.Platform.WCF.Server.IOrderService" />
      <!--计算服务契约配置-->
      <endpoint address="soap.amqp://localhost:9999/CalculatorService" binding="rabbitMQBinding"  bindingConfiguration="rabbitDoubleBinding" contract="KittyInnovation.Iot.Platform.WCF.Server.ICalculatorService" name="KittyInnovation.Iot.Platform.WCF.Server.ICalculatorService"/>
      <!--<endpoint address="net.tcp://localhost:9999/CalculatorService" binding="netTcpBinding" contract="KittyInnovation.Iot.Platform.WCF.Server.ICalculatorService" name="KittyInnovation.Iot.Platform.WCF.Server.ICalculatorService"/>-->
    </client>
    <!--WCF行为配置，配置好无需修改-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <rabbitMQBinding>
        <!--单工通信-->
        <binding name="rabbitSingleBinding" hostname="localhost" port="5672" virtualHost="/" username="hezp" password="123456" oneWay="true" closeTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" maxmessagesize="65536" />
        <!--双工通信-->
        <binding name="rabbitDoubleBinding" hostname="localhost" port="5672" virtualHost="/" username="hezp" password="123456" oneWay="false" closeTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="true" maxmessagesize="65536" />
      </rabbitMQBinding>
    </bindings>
    <!--WCF扩展配置，配置好无需修改-->
    <extensions>
      <bindingExtensions>
        <add name="rabbitMQBinding" type="RabbitMQ.ServiceModel.RabbitMQBindingSection, RabbitMQ.ServiceModel" />
      </bindingExtensions>
    </extensions>
    <!--<protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
