<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--声明NHibernate的配置节点-->
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="NHibernate.KittyInnovation">
      <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
      <property name="connection.connection_string">
        Database=KittyInnovation;Data Source=localhost;User Id=root;Password=123456
      </property>
      <property name="dialect">NHibernate.Dialect.MySQLDialect</property>
      <property name="show_sql">true</property>
      <mapping assembly="KittyInnovation.Iot.Platform.Domain"/>
    </session-factory>
  </hibernate-configuration>

  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>